body {
  background-color: lightcyan;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  height: 200px;
}

button {
  border: 1px solid lightslategray;
  border-radius: 10px;
  background-color:rgb(240, 239, 165);
  padding: 10px 20px;
}

.produto {
  font-size: 16pt;
}

span {
  font-size: 14pt;
}