body{ background-color:#fff7bd ;
     text-align: center; }
 h1{ background-color:#95cfb7 ;
     font-size: 40px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; } button
{ color: black;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', ;
      padding: 15px;
       background-color:#e4b302 ; } 
.dois{ background-color: #158fa2 ;
     text-align: left; } 
.tres{ background-color:#1b7fbd ; } 