h1{
    color:blue;
}

div{
    padding: 0%;
    text-align: center;
    

}
h2{
    font-size: 1.2rem;
    color: rgb(146, 128, 104);
}
 
h1{
    font-size: 2.5rem;
}
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    background: linear-gradient(to rigth, red,blue,yellow);
    background-size: 500% 100%;
}

button{
    background-color: aquamarine;
    border-radius: 2rem;
    height: 2rem;
    width: 10rem;
}