body{
    background-color:#fff7bd ;
    text-align: center;
}

h1{
    background-color:#95cfb7 ;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}



button{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',   ;
    padding: 15px;
    background-color:#e4b302 ;
    border-radius: 3em;
    margin-left: 2em;
    font-size: medium;
 
    
}

.dois{
 background-color: #158fa2 ;
 text-align: left;
 margin-left: 2em;
 font-size: medium;
}


.tres{
 background-color:#bd1b43 ;
 font-size: medium;
}

#quadrado{
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
    
