*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightgrey;
}

#navegacao{
    padding: 12px;
    display: flex;
    background-color: black;
    justify-content: space-around;
}

button{
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    padding: 10px;
    margin: 5px 10px;
}

div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    margin: 15px;
    padding: 15px;
    text-align: left;
}

#btnPrecoQuinhentos, #btnPrecoMil,#btnPrecoMileQuinhentos,#btnPrecoDoisMil {
    background-color: lawngreen;
}